source .envrc.secret
export FORGEBOT_FORGEJO_URL="https://git.rileymathews.com"
export FORGEBOT_FORGEBOT_HOST="http://ds9:8765"
export FORGEBOT_OPENCODE_WORKTREE_BASE="$HOME/.local/state/forgebot-local-dev/worktrees"
export FORGEBOT_OPENCODE_CONFIG_DIR="$HOME/.local/state/forgebot-local-dev/opencode-config"
export FORGEBOT_DATABASE_PATH="$HOME/.local/state/forgebot-local-dev/forgebot.db"
use flake
